body {
    background: rgb(63, 82, 99);
    padding: 0;
    display: inline-block;
}

.fyp-content {
    padding: 20px 40px 40px 40px;
}

.fyp-title {
    text-align: left;
}

.fyp-li {
    display: inline-block;
}

.fyp-button {
    text-align: center;
}

.fyp-center {
    margin: 0 auto;
    width: 30%;
    background: rgb(48, 48, 48);;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.3);
    color: white;
    border-radius: 5px;
    margin-bottom: 40px;
}