body {
    background: rgb(63, 82, 99);
    
}

.fyp-content {
    padding: 20px 40px 40px 40px;
}

.fyp-title {
    text-align: left;
}

.fyp-li {
    display: inline-block;
}

.fyp-button {
    text-align: center;
}

.fyp-center {
    margin: 0 auto;
    width: 55%;
    background: rgb(48, 48, 48);
    border: 1px solid #ccc;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.3);
    color: white;
    border-radius: 5px;
    margin-bottom: 40px;
}

.fyp-nav.fyp-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: rgb(48, 48, 48);
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }
  
.fyp-nav-li a {
    display: block;
    border-style: none;
  }

.window-locator.window-locator {
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
    border-style: none;
}