a {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
    text-decoration: none;
    color: black;
    padding: 13px;
}

a:hover {
    transition: 0.3s;
    background: black;
    color: white;
}

h1 { 
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 23px; 
} 

h2 { 
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: 27px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 23px; 
} 

h3 { 
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 23px; 
} 

p { 
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
} 

blockquote { 
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: 17px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
} 

pre { 
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: 11px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
}

.title {
    text-align: center;
    padding: 50px;
}

.center {
    margin: 0 auto;
    width: 50%;
    padding-bottom: 50px;
}

.nav-li {
    display: inline;
}