body {
    background: rgb(63, 82, 99);
    padding: 0;
    margin: 0;
}

.body-light {
    background: white;
}

a {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none;
    color: white;
    border-style: solid;
    padding: 13px;
    border-width: 0.75px;
    border-color: #d4d4d4;
}

a:hover {
    transition: 0.3s;
    background: white;
    border-color: white;
    color: black;
}

h1 { 
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 23px; 
} 

h2 { 
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: 27px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 23px; 
} 

h3 { 
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 23px; 
} 

h4 { 
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: 17px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 23px; 
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 18px;
} 

p { 
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
} 

li {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
    list-style-type: square;
}

blockquote { 
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: 17px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
} 

pre { 
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: 11px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
}

.title {
    text-align: center;
    padding: 0px 0px 40px 0px;
}

.item-wrapper {
    margin: 0 auto;
    overflow: auto;
}

.center {
    margin: 0 auto;
    width: 60%;
    background: rgb(48, 48, 48);;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.3);
    color: white;
    border-radius: 5px;
    margin-bottom: 40px;
}

.center:after {
    content: "";
    display: table;
    clear: both;
}

.light {
    background: white;
    margin: 0 auto;
    width: 60%;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.3);
    color: white;
    border-radius: 5px;
}

.text-center {
    text-align: center;
}

.content {
    padding: 40px;
}

.mac-toolbar-thing {
    padding: 0;
    background: linear-gradient(#e5e5e5, #cecdce) ;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 6px 0px 4px 5px;
    color: black;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.dot-red {
    height: 15px;
    width: 15px;
    background-color: #fc5b57;
    border-radius: 50%;
    display: inline-block;
}

.dot-red-inner {
    height: 5px;
    width: 5px;
    background-color: #97040c;
    border-radius: 50%;
    margin: 0 auto;
}

.dot-yellow {
    height: 15px;
    width: 15px;
    background-color: #e5bf3c;
    border-radius: 50%;
    display: inline-block;
}

.dot-green {
    height: 15px;
    width: 15px;
    background-color: #57c038;
    border-radius: 50%;
    display: inline-block;
}

.left {
    float: left;
    position: absolute
}

.right {
    margin-left: 75%;
    text-align: right;
}

.list-wrapper {
    width: 100%;
    display: flex;
}

.col-list {
    width: 24%;
    text-align: Left;
    padding-left: 10px;
    color: white;
}

.nav-li {
    display: inline;
}

.body-li {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
    text-decoration: none;
    color: white;
    list-style-type: square;
}

.footer {
    position: fixed;
    left: 90%;
    bottom: 0;
    width: 10%;
    color: black;
    text-align: right;
}

.footer-padding {
    padding: 20px;
    padding-right: 30px;
}

#darkbutton {
    cursor: pointer;
}