html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/* Navbar */
.navbar {
    width: 100%;
    height: 50px;
    float: left;
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

h1 {
    font-size: 120px;
    color: white;
} 

h2 {
    font-size: 30px;
    color: #1E88E5;
    padding: 10px 10px 10px 0px;
} 

h3 {
    color: #1E88E5;
}

/* Hero banner */
.hero-banner-wrapper{
    display: flex;
    background-image: url(img/gradient-hero-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.hero-banner{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0 auto; /* For IE9 */
}

.hero-banner img{
    max-width: 60em;
    height: auto;
    padding-top: 0.5em;
}

.hero-banner-intro{
    text-align: center; /* For IE9 */
    margin: 0 auto 0 auto; /* For IE9 */
    width: 50%;
}

.md-btn {
    font-size: 14px;
    display: inline-block;
    height: 36px;
    min-width: 88px;
    padding: 6px 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border:0;
    border-radius: 2px;
    background: 0%;
    color: #fff;
    outline: solid;
    transition: 0.3s;
}

.md-btn:hover {
    background: #BDBDBD;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
}

/* Main Content */
.main-content {
    width: 100%;
    margin: 0 auto;
    text-align: center; 
}

.content-segment {
    width: 50%;
    margin:70px auto;
    flex-direction: row;
    padding: 20px;
    padding-top: 10px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
}

.content-segment:hover {
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);
}

/* Cards */
.card-container {
    width: fit-content;
    margin:0 auto;
    flex-direction: row;
    padding: 10px;
}

.card {
    width: 175px;
    margin:10px;
    display: inline-block;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    border-radius: 5px;
}   

.card:hover {
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}